:root {
  --primary-color: #f5f5f5;
  --border-color: #9e9e9e;
  --button-color: #7f4ced;
  --button-color-hover: #9565fc;
  --correct-color: #33de1d;
  --wrong-color: red;
  --text-primary: "Raleway", sans-serif;
}

.container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
}

header .view-scores {
  font-family: var(--text-primary);
  color: var(--button-color);
  cursor: pointer;
}

header .view-scores:hover {
  color: var(--button-color-hover);
}

header .time-display {
  font-family: var(--text-primary);
  color: var(--button-color);
}

header .score-counter {
  font-family: var(--text-primary);
  color: var(--button-color);
}

.start-game {
  display: block;
  height: 70%;
  width: 70%;

  position: absolute;
  top: 25%;
  left: 17%;
}

.start-game h1 {
  font-size: 200%;
  color: black;
  font-family: var(--text-primary);
  text-align: center;
  margin-bottom: 40px;
}

.start-game p {
  font-size: 120%;
  color: black;
  font-family: var(--text-primary);
  text-align: center;
  margin-bottom: 40px;
}

.start-game .start-button {
  display: block;
  border: none;
  border-radius: 10px;
  background-color: var(--button-color);
  font-family: var(--text-primary);
  color: white;
  cursor: pointer;
  padding: 10px;
  margin: 0 auto;
  width: 10%;
  height: 40px;
}

.start-game .start-button:hover {
  background-color: var(--button-color-hover);
}

.quiz-question {
  display: block;
  height: 70%;
  width: 70%;

  position: absolute;
  top: 25%;
  left: 17%;
}

.quiz-question .question {
  display: table;
  text-align: left;
  font-family: var(--text-primary);
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 40px;
}

.quiz-question .button-container {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start; */

  margin-bottom: 40px;
}

.quiz-question .button-container button {
  display: block;
  border: none;
  border-radius: 10px;
  background-color: var(--button-color);
  font-family: var(--text-primary);
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
}

.quiz-question .button-container button:last-child {
  margin-bottom: 0px;
}

.quiz-question .button-container button:hover {
  background-color: var(--button-color-hover);
}

.message {
  position: absolute;
  bottom: 20%;
  left: 15%;
  width: 70%;
  border-top: 1px var(--border-color) solid;
  padding-top: 20px;

  font-family: var(--text-primary);
  font-size: 200%;
  color: var(--correct-color);
}

.final-score {
  display: block;
  height: 70%;
  width: 70%;

  position: absolute;
  top: 25%;
  left: 17%;
}

.final-score h1 {
  text-align: center;
  font-family: var(--text-primary);
  font-weight: bold;
  font-size: 300%;
  margin-bottom: 40px;
}

.final-score p {
  text-align: center;
  font-family: var(--text-primary);
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 40px;
}

.final-score form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 10%;

  font-family: var(--text-primary);
  font-weight: bold;
  font-size: 150%;
}

.final-score input {
  height: 50px;
  margin-right: 10px;
}

.final-score label {
  margin-right: 10px;
}

.final-score button {
  display: inline-block;

  border: none;
  border-radius: 10px;
  background-color: var(--button-color);

  width: 150px;
  height: 50px;

  color: white;
  cursor: pointer;
}

.final-score button:hover {
  background-color: var(--button-color-hover);
}

.view-history {
  display: block;
  width: 70%;

  position: absolute;
  top: 25%;
  left: 17%;
}

.view-history ul {
  list-style: none;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  row-gap: 20px;
}

.view-history ul li {
  font-family: var(--text-primary);
  font-size: 30px;
  color: var(--correct-color);
  border: none;
  border-radius: 10px;
  background-color: var(--border-color);
  padding: 10px 10px;
}

.view-history .button-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.view-history button {
  display: inline-block;

  border: none;
  border-radius: 10px;
  background-color: var(--button-color);

  width: 150px;
  height: 50px;

  color: white;
  cursor: pointer;
}

.view-history button:hover {
  background-color: var(--button-color-hover);
}
